<div class="container vh-100 d-flex align-items-center">
    <div class="row mt-5 mx-auto justify-content-center">
        <h3 class="text-center mb-4">Registro</h3>
        <form action="/register" method="post">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" placeholder="Nome" class="form-control" id="nome" required>
            </div>
            <div class="from-group">
                <label for="dataNascimento">Data de Nascimento</label>
                <input type="date" name="dataNascimento" placeholder="Data de Nascimento" class="form-control" id="dataNascimento" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" name="email" placeholder="Email" class="form-control" id="email" required>
            </div>
            <div class="form-group">
                <label for="password">Senha:</label>
                <input type="password" name="password" placeholder="Sua senha" class="form-control" id="password" required>
            </div>
            <div class="form-group">
                <label for="password2">Confirme a senha:</label>
                <input type="password" name="password2" placeholder="Mesma senha de cima" class="form-control" id="password2" required>
            </div>
            <div class="form-group">
                <input type="submit" name="submit" value="Register" class="btn btn-primary">
            </div>   
        </form>
    </div>
</div>

<script>
    {{#if errorNomeVazio}}
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: '{{errorNomeVazio}}',
        })
    {{/if}}

    {{#if errorEmailVazio}}
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: '{{errorEmailVazio}}',
        })
    {{/if}}

    {{#if errorPassVazio}}
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: '{{errorPassVazio}}',
        })
    {{/if}}

    {{#if errorPassDiferente}}
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: '{{errorPassDiferente}}',
        })
    {{/if}}

    {{#if errorUserExists}}
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: '{{errorUserExists}}',
        })
    {{/if}}
</script>