<div class="container">
    <form action="/consultaTurma/" method="get">
        <h3 style="text-align: center; font-weight: bold;">Dados da turma</h3>
        <hr>

        <div class="input-nome">
            <label for="nome" id="label-nome">Nome<span style="color: red;">*</span></label>
            <input type="text" name="nome" id="nome" value="{{turmas.nome}}" disabled>
        </div>

        <div class="input-periodo">
            <label id="label-periodo" for="periodo_turma">Período<span style="color: red;">*</span></label>
            <select name="periodo_turma" id="periodo_turma" disabled>
                <option value="{{turmas.periodo}}">{{turmas.periodo}}</option>
            </select>
        </div>

        <div class="input-ativo">
            <label for="ativo">Ativo</label>
            <input type="checkbox" name="ativo" id="ativo" {{#if turmas.ativo}} checked {{else}} {{/if}} disabled>
        </div>

        <hr>

        <h3 style="text-align: center; font-weight: bold;" class="mb-3">Alunos nesta Turma</h3>
        {{#if alunos}} 
            <ul>
            {{#each alunos}}
                <li>{{this.nomeAlunos}}</li>
            {{/each}}
            </ul>
            {{else}}
                <p>Nenhum aluno vinculado a esta turma.</p>
        {{/if}}
       
        <div class="input-submit">
            <input type="submit" value="Voltar">
        </div>
    </form>
</div>
