<div class="container">
  <form action="/editarUsuario/{{dados._id}}" method="post">
    <h3 style="text-align: center; font-weight: bold;">Dados do usuário</h3>
    <hr>

    <div class="input-nome">
      <label for="nome" id="label-nome">Nome<span style="color: red;">*</span></label>
      <input type="text" name="nome" id="nome" value="{{dados.nome}}">
    </div>

    <div class="input-email">
      <label for="email" id="label-email">E-mail<span style="color: red;">*</span></label>
      <input type="email" name="email" id="email" value="{{dados.email}}">
    </div>

    <div class="input-senha">
      <label for="senha" id="label-senha">Nova Senha<span style="color: red;">*</span></label>
      <input type="password" name="senha" id="senha">
    </div>

    <div class="input-ativo">
      <label for="ativo" id="label-ativo">Ativo<span style="color: red;">*</span></label>
      <input type="checkbox" name="ativo" id="ativo" {{#if dados.ativo}}checked{{/if}}>
    </div>

    <hr>

    <h3 class="text-center">Turmas habilitadas</h3>
    <div class="row">
      {{#each dadosTurma}}
      
      <div class="col-md-2 d-flex flex-column align-items-center justify-content-center">
        <input type="checkbox" name="turma-{{this._id}}" id="turma-{{this._id}}" value="{{this.nome}} - {{this.periodo}}" {{#ifCond this._id '==' turmasPermitidas.id}}checked{{/ifCond}}>
        <p>{{this.nome}} - {{this.periodo}}</p>
      </div>  
     
      {{/each}}
    </div>


    <div class="input-submit">
      <input type="submit" value="Alterar">
      <a href="/controlaUsuario" class="btn btn-secondary">Voltar</a>
    </div>

    
    
  </form>

  </div>
</div>