<div class="container mt-5 justify-content-center d-flex">
  <table class="table table-striped table-hover table-bordered shadow rounded rounded-3 overflow-hidden">
    <thead>
      <tr class="table-dark text-center align-middle">
        <th class="col-md-2" scope="col">Nome</th>
        <th class="col-md-2" scope="col">Periodo</th>
        <th class="col-md-1" scope="col">Qtd de alunos</th>
        <th class="col-md-1" scope="col">Opções</th>
      </tr>
    </thead>

    <tbody class="table-group-divider text-center">
      {{#if turmas}}
        {{#each turmas}}
        <tr>
          <td>{{nome}}</td>
          <td class="text-center">{{periodo}}</td>
          <td class="text-center">{{quantidadeAlunos}}</td>
          <td style="display: flex; gap: 1.5rem;" class="justify-content-center">
            <a href="/listarTurma/{{this._id}}" data-bs-toggle="popover" data-bs-content="Consultar Registro" data-bs-trigger="hover" data-bs-placement="top"><i class="fa-solid fa-magnifying-glass" style="color: green;"></i></a>
            <a href="/editarTurma/{{this._id}}" data-bs-toggle="popover" data-bs-content="Editar Registro" data-bs-trigger="hover" data-bs-placement="top"><i class="fa-solid fa-pen"></i></a>
            <form class="form-relatorio" action="/relatorio/turma/{{this._id}}" method="post">
              <input type="hidden" name="_method" value="delete">
              <button style="background-color: rgba(0, 0, 0, 0.01);" type="submit" id="btn-relatorio" data-bs-toggle="popover" data-bs-content="Gerar Relatório" data-bs-trigger="hover" data-bs-placement="top"><i class="fa-solid fa-clipboard" style="color:rgb(96, 196, 163)"></i></button>
            </form>
            <form class="form-consulta" action="/deletarTurma/{{this._id}}" method="post">
              <input type="hidden" name="_method" value="delete">
              <button style="background-color: rgba(0, 0, 0, 0.01);" type="submit" id="btn-deletar" data-bs-toggle="popover" data-bs-content="Deletar Registro" data-bs-trigger="hover" data-bs-placement="top"><i class="fa-solid fa-trash" style="color: red;"></i></button>
            </form>
          </td>
        </tr>
        {{/each}}
      {{else}}
        <tr>
          <td colspan="4">Nenhuma turma encontrada <i class="fas fa-face-frown" style="color: rgb(85, 85, 85);"></i> <br> <a href="/cadastrarTurma">Cadastrar Turma</a></td>
        </tr>
      {{/if}}
    </tbody>
  </table>
  <script src="public/js/scriptConsultaTurma.js"></script>
</div>

