<div class="container">
  <table class="table table-striped table-hover table-bordered mt-4">
    <thead>
      <tr class="table-dark text-center">
        <th class="col-md-3" scope="col">Nome do Aluno</th>
        <th class="col-md-1" scope="col">Data de Nascimento</th>
        <th class="col-md-1" scope="col">Sexo</th>
        <th class="col-md-2" scope="col">Turma</th>
        <th class="col-md-3" scope="col">Nome do Responsável</th>
        <th class="col-md-2" scope="col">Opções</th>
      </tr>
    </thead>
    <tbody class="table-group-divider text-center">

      {{#if alunos}}
        {{#each alunos}}
          <tr>
            <td>{{nome}}</td>
            <td>{{data_nascimento}}</td>
            <td>{{sexo}}</td>
            <td>{{turma.nome}}</td>
            <td>{{this.responsavel.nome}}</td>
            <td class="align-middle text-center">
              <a
                href="/listarAluno/{{this._id}}"
                data-bs-toggle="popover"
                data-bs-content="Consultar Registro"
                data-bs-trigger="hover"
                data-bs-placement="top"
                style="text-decoration: none;"
              >
                <i
                  class="fa-solid fa-magnifying-glass"
                  style="color: green;"
                ></i>
              </a>

              <a
                href="/editarAluno/{{this._id}}"
                data-bs-toggle="popover"
                data-bs-content="Editar Registro"
                data-bs-trigger="hover"
                data-bs-placement="top"
                class="ms-2"
                style="text-decoration: none;"
              >
                <i class="fa-solid fa-pen"></i>
              </a>

              <form
                class="form-relatorio d-inline"
                action="/relatorio/aluno/{{this._id}}"
                method="post"
              >
                <input type="hidden" name="_method" value="delete" />
                <button
                  style="background-color: rgba(0, 0, 0, 0.01);"
                  type="submit"
                  id="btn-relatorio"
                  data-bs-toggle="popover"
                  data-bs-content="Gerar Relatório"
                  data-bs-trigger="hover"
                  data-bs-placement="top"
                  class="ms-2"
                >
                  <i
                    class="fa-solid fa-clipboard"
                    style="color:rgb(96, 196, 163)"
                  ></i>
                </button>
              </form>

              <form
                class="form-consulta d-inline"
                action="/deletarAluno/{{this._id}}"
                method="post"
              >
                <input type="hidden" name="_method" value="delete" />
                <button
                  style="background-color: rgba(0, 0, 0, 0.01);"
                  type="submit"
                  id="btn-deletar"
                  data-bs-toggle="popover"
                  data-bs-content="Deletar Registro"
                  data-bs-trigger="hover"
                  data-bs-placement="top"
                  class="ms-2"
                >
                  <i class="fa-solid fa-trash" style="color: red;"></i>
                </button>
              </form>
            </td>
          </tr>
        {{/each}}
      {{else}}
        <tr>
          <td colspan="6">Nenhum aluno encontrado
            <i class="fas fa-face-frown" style="color: rgb(85, 85, 85);"></i>
            <br />Deseja cadastrar? Se sim,
            <a href="../cadastroAluno">clique aqui</a></td>
        </tr>
      {{/if}}

    </tbody>
  </table>
  <script src="public/js/scriptConsultaAluno.js"></script>
</div>