<div class="container">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr class="table-dark">
                <th scope="col">Nome do Aluno</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col">Sexo</th>
                <th scope="col">Periodo que Estuda</th> 
                <th scope="col">Nome do Responsável</th>
                <th scope="col">Opções</th> 
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <ul>
                {{#if alunos}}
                {{#each alunos}}
                <tr>
                    <td>{{nome}}</td>
                    <td>{{data_nascimento}}</td>
                    <td>{{sexo}}</td>
                    <td>{{periodoEstudo}}</td>
                    <td>{{this.responsavel.nome}}</td>
                    <td style="display: flex; gap: 1.5rem;">
                        <a href="/listarAluno/{{this._id}}" data-bs-toggle="popover" data-bs-content="Consultar Registro" data-bs-trigger="hover" data-bs-placement="top"><i class="fa-solid fa-magnifying-glass" style="color: green;"></i></a>
                        <a href="/editarAluno/{{this._id}}" data-bs-toggle="popover" data-bs-content="Editar Registro" data-bs-trigger="hover" data-bs-placement="top"><i class="fa-solid fa-pen"></i></a>
                         <form class="form-relatorio" action="/relatorio/aluno/{{this._id}}" method="post">
                            <input type="hidden" name="_method" value="delete">
                            <button type="submit" id="btn-relatorio" data-bs-toggle="popover" data-bs-content="Gerar Relatório" data-bs-trigger="hover" data-bs-placement="top"><i class="fa-solid fa-clipboard" style="color:aquamarine"></i></button>
                        </form>
                        <form class="form-consulta" action="/deletarAluno/{{this._id}}" method="post">
                            <input type="hidden" name="_method" value="delete">
                            <button type="submit" id="btn-deletar" data-bs-toggle="popover" data-bs-content="Deletar Registro" data-bs-trigger="hover" data-bs-placement="top"><i class="fa-solid fa-trash" style="color: red;"></i></button>
                        </form>
                    </td>
                </tr>
                {{/each}}
                {{else}}
                <tr>
                    <td colspan="6">Nenhum aluno encontrado.</td>
                </tr>
                {{/if}}
            </ul>
        </tbody>
    </table>
    <script src="public/js/scriptConsulta.js"></script>
</div>