<div class="container">
    <table class="table table-striped table-hover table-striped-columns table-bordered">
        <thead>
            <tr>
                <th scope="col">Nome do Aluno</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col">Sexo</th>
                <th scope="col">Periodo que Estuda</th> 
                <th scope="col">Opções</th> 
            </tr>
        </thead>
        <tbody>
            <ul>
                {{#if alunos}}
                {{#each alunos}}
                <tr>
                    <td>{{nome}}</td>
                    <td>{{data_nascimento}}</td>
                    <td>{{sexo}}</td>
                    <td>{{periodoEstudo}}</td>
                    <td style="display: flex; gap: 1.5rem;">
                        <a href="#" data-bs-toggle="popover" data-bs-content="Consultar Registro" data-bs-trigger="hover" data-bs-placement="top"><i class="fa-solid fa-magnifying-glass" style="color: green;"></i></a>
                        <a href="/editarAluno/{{this._id}}" data-bs-toggle="popover" data-bs-content="Editar Registro" data-bs-trigger="hover" data-bs-placement="top"><i class="fa-solid fa-pen"></i></a>
                        <a href="#" data-bs-toggle="popover" data-bs-content="Deletar Registro" data-bs-trigger="hover" data-bs-placement="top"><i class="fa-solid fa-trash" style="color: red;"></i></a>
                    </td>    
                </tr>
                {{/each}}
                {{else}}
                <tr>
                    <td colspan="5">Nenhum aluno encontrado.</td>
                </tr>
                {{/if}}
            </ul>
        </tbody>

    </table>
</div>